--- 
import { getCollection } from "astro:content";
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";

// Filtrage des entrées de l'équipe avec 'draft: false' & date avant la date actuelle
const publishedTeamMembers = await getCollection("team", ({ data }) => {
  return !data.draft && data.publishDate < new Date();
});
---

<Layout title="Mentions légales - ReisTech">
  <Container>
    <Sectionhead>
      <Fragment slot="title">Mentions légales</Fragment>
      <Fragment slot="desc">Nos mentions légales</Fragment>
    </Sectionhead>
    
    <div class="flex flex-col gap-6 mx-auto max-w-4xl mt-12">
      <ul class="list-disc list-inside text-lg leading-relaxed text-slate-500">
        <li><strong>Éditeur du site</strong> : ReisTech, 11 Moineaux Gas, 28320.</li>
        <li><strong>Responsable de la publication</strong> : DOS REIS Sébastien</li>
        <li><strong>Contact</strong> : 
          <ul class="list-none ml-4">
            <li>Email : <a href="mailto:dosreis.sebastien@outlook.com" class="text-blue-500">dosreis.sebastien@outlook.com</a></li>
            <li>Téléphone : <a href="tel:+33603213365" class="text-blue-500">06 03 21 33 65</a></li>
          </ul>
        </li>
        <li><strong>Propriété intellectuelle</strong> : 
          Le contenu de ce site, y compris les textes, images, logos et éléments graphiques, est protégé par les lois sur la propriété intellectuelle et est la propriété exclusive de ReisTech ou de ses partenaires. Toute reproduction, distribution ou utilisation non autorisée est strictement interdite.
        </li>
        <li><strong>Données personnelles</strong> : 
          Les données personnelles collectées sur ce site sont traitées conformément à notre politique de confidentialité. Pour plus d'informations, consultez notre <a href="/politique-confidentialite" class="text-blue-500">politique de confidentialité</a>.
        </li>
        <li><strong>Cookies</strong> : 
          Ce site utilise des cookies pour améliorer l'expérience utilisateur. En utilisant ce site, vous consentez à l'utilisation des cookies conformément à notre <a href="/politique-cookies" class="text-blue-500">politique de cookies</a>.
        </li>
        <li><strong>Droit applicable et juridiction compétente</strong> : 
          Les présentes mentions légales sont régies par le droit français. En cas de litige, seuls les tribunaux français seront compétents.
        </li>
        <li><strong>Modification des mentions légales</strong> : 
          ReisTech se réserve le droit de modifier ces mentions légales à tout moment et sans préavis. Les modifications entreront en vigueur dès leur publication sur le site.
        </li>
      </ul>
    </div>

    <!-- Ajout d'un espace entre les mentions légales et le bouton -->
    <div class="text-center mt-8"> 
      <a href="/contact" class="inline-block px-8 py-4 bg-black text-white rounded-lg font-semibold hover:bg-gray-800 transition mx-auto">
        Contactez-nous dès aujourd'hui
      </a>
    </div>

  </Container>
</Layout>
